<!-- <div class="container">
  <header class="jumbotron">
    <p>{{ users }}</p>
  </header>
</div> -->

<div class="container">
  <header class="jumbotron">
    <h1>Users    {{ content }}</h1>
    <!-- <a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a> -->
    <!-- <button class="btn btn-sm btn-success mb-2" disabled>Add User</button> -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 20%">Userame</th>
                <th style="width: 30%">Email</th>
                <th style="width: 40%">Role</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles}}</td>
                <td style="white-space: nowrap">
                    <!-- <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a> -->
                    <!-- <button class="btn btn-sm btn-primary mr-1" disabled>Edit</button> -->
                    <!-- <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                        <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!user.isDeleting">Delete</span>
                    </button> -->
                    <button (click)="deleteUser(user.id)" [disabled]="i == 0" class="btn btn-sm btn-danger btn-delete-user">
                        Delete
                    </button>
                </td>
            </tr>
            <tr *ngIf="!users">
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
    </table>
  </header>
</div>
